* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}
body header {
  height: 17.0837867247vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  font-family: "Oswald", sans-serif;
  text-transform: capitalize;
  margin-left: 7.938rem;
}
body h2 {
  font-weight: 900;
  font-size: 2.5rem;
  width: 50%;
}
body nav {
  width: 40%;
  display: flex;
  justify-content: space-between;
  margin-right: 5rem;
}
body ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 60%;
}
body li {
  display: flex;
  justify-content: center;
  align-items: center;
}
body a {
  position: relative;
  text-decoration: none;
  color: #5B5B5B;
  font-size: 1.25rem;
  font-weight: 500;
  transition: color 0.3s, -webkit-text-decoration 0.3s ease;
  transition: color 0.3s, text-decoration 0.3s ease;
  transition: color 0.3s, text-decoration 0.3s ease, -webkit-text-decoration 0.3s ease;
}
body a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0.27vh;
  background-color: #000000;
  transition: width 0.3s ease, left 0.3s ease;
}
body a:hover {
  color: #000000;
}
body a:hover::after {
  width: 100%;
  left: 0;
}
body button {
  height: 8.2698585419vh;
  width: 25%;
  background-color: #ffffff;
  border: solid;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
}
body main .containerSectionBackground {
  background-image: url(./imagens/background.png);
  background-size: 100vw;
  background-repeat: no-repeat;
  height: 115vh;
  text-transform: capitalize;
}
body main .containerArticleBackground {
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  height: 70vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  margin-left: 7.938rem;
}
body main h1 {
  font-size: 6rem;
  font-weight: 700;
}
body main p {
  font-size: 2rem;
  font-weight: 300;
}
body main button {
  background-color: #0016DF;
  color: #ffffff;
  border: none;
  height: 3.688rem;
  width: 15.688rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: capitalize;
  margin-top: 0.5rem;
  margin-left: 2rem;
}
body main .containerSectionGestao {
  height: 105vh;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15rem;
}
body main .containerArticleGestao {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
}
body main .containerTitleGestao {
  color: #0017E9;
  font-size: 1.5rem;
  font-weight: 500;
}
body main h2 {
  font-size: 2.25rem;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
}
body main .boxArticleText,
body main a {
  max-width: 29.6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  text-decoration: none;
}
body main .contaiberSectionSolution {
  width: 100%;
  height: 104.5701849837vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Oswald", sans-serif;
  padding-top: 4rem;
  padding-bottom: 16.188rem;
  background-color: #D8D8D8;
}
body main .textBoxSolution {
  color: #0017E9;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 1.8rem;
}
body main .textBoxSystem {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 9rem;
}/*# sourceMappingURL=style.css.map */